*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    min-height: 100vh;
    display: flex; flex-direction: column;
}
/* Barra header*/
nav {
    padding: 12px;
}


header {
    background-color: black;
    align-items: center;
}


#logo {
    width: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #fff;
    font-size: 25px;
}

.fa-solid {
    color: #fff;
}

.fa-solid .fa-arrow-trend-up {
    color: #fff;

}

#logo i {
    margin-left: 15px;

    color: #fff;

}


#menu-empresa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu-empresa ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

#menu-empresa ul li {
    padding: 0px 30px;
}


#menu-empresa a {
    color: #fff;
    text-decoration: none;
}


/* Cuerpo */



body {
    background-color: white;
}

body h1 {
    color: black;
}

#titulo {
    text-align: center;
}



/*información acciones*/

section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section article div h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#tablaIngreso {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 20px;
}

#formularioDatos{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

#formularioDatos button{
    width: 250px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #36291e;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 5px 0px;
    border-radius: 2px;
}
#formularioDatos button:hover{
    background-color: #69482b;
}


#tablaIngreso th,
#tablaIngreso td {
    padding: 8px;
    text-align: center;

}

.info {
    list-style-type: none;
    width: 20%;
}

/* Lista de datos */
.datos{
    margin-top: 20%;
}
#listaDatos{
    padding-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 60%;
    gap: 30px;
}


#listaDatos ul {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#listaDatos ul li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#tabla {
    margin: 0 auto;
}

#btnAgregar {
    float: right;
    margin-top: 10px;
    /* Espaciado opcional en la parte superior */
    margin-right: 2px;
    /* Espaciado opcional entre los botones */
}

#btnGuardar {
    float: right;
    margin-top: 10px;
    /* Espaciado opcional en la parte superior */
    margin-right: 2px;
    /* Espaciado opcional entre los botones */
}



/* Tabla equipo */
#container-equipo{
    bottom: 0;
    margin-top: 10px;
    width: 100%;
    padding-bottom: 15px;
    background: black;
    text-align: center;
    color: #fff;
}
#container-equipo h1{
    margin: 0px;
    color: #DDD;
    padding: 30px 0px;
}
#container-equipo .equipo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid black;
}

.imagenes-equipo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

